a {
    color: blue;
    text-decoration: none;

}
a:hover {
    color: orange;
    text-decoration: underline;
}

a:active {
    color: green;
}

/* a:visited {
    color: blueviolet;
} */

.btn {
    background: green;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    background: red;
}


.table {
    width: 100%;
}